.detailsContainer {
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 100%;
    background: white;
}

.backDropContainer {
    height: 500px;
    width: 100%;
    max-width: 100%;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.posterImage {
    height: 400px;
}

.descriptionContainer {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: 500px;
    background-image: radial-gradient(circle at 20% 50%, rgba(0, 51, 102, 0.5) 0%, rgba(9.02%, 0.39%, 1.18%, 0.88) 100%);
    z-index: 5;
}

.descriptionMargin {
    width: 100%;
    max-width: 100%;
    margin: 0px 15%;
    display: flex;
    flex-flow: row nowrap;
}

.descriptionText {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    margin-left: 25px;
}

.descriptionTitle {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 30px;
}

.descriptionOverview {
    margin: 25px 0px;
    display: flex;
    flex-flow: column nowrap;
}

.castContainer {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.castWrapper {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
}

.castCard {
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid rgb(196, 196, 196);
    box-shadow: 5px 5px 5px rgb(180, 180, 180);
    margin: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    height: 320px;
}

.castCard img {
    height: 200px;
    min-width: 133.3px;
}

.cardName {
    font-size: 18px;
    margin: 10px 10px 0px 10px;
}

.cardCharacter {
    font-size: 15px;
    margin: 5px 10px 10px 10px;
}