body {
    margin: 0px;
    max-width: 100%;
}

#app {
    width: 100%;
    max-width: 100%;
}

.loader {
    background: #7ad9ff;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 666;
}

.loadFade {
    display: none;
}

.mainContainer {
    display: flex;
    flex-flow: column;
    width: 100%;
    background: white;
}

.titleContainer {
    background-image: url("/assets/popcorn.jpg");
    height: 200px;
    min-height: 200px;
    max-width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.title {
    width: fit-content;
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 50px;
    color: #d7f3ff;
    background-color: #003366;
    margin-left: 50px;
    padding: 15px;
}

.listContainer {
    display: flex;
    flex-flow: column nowrap;
}

.listLoader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 200px);
    background: #d7f3ff;
}

.listItem {
    display: flex;
    flex-flow: row nowrap;
    max-height: 300px;
    margin: 25px;
    background-color: white;
    box-shadow: grey 5px 5px 15px;
}

.listDescriptionContainer {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

.listDescription {
    height: 100%;
    margin: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-y: hidden;
}

.listMoreInfo {
    color: black;
    text-decoration: none;
    border-top: lightgrey 1px solid;
    padding: 15px;
}

.listMoreInfo:active {
    background: lightgrey;
}

.listDescriptionTitle {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 15px;

}

.name {
    font-size: 20px;
}

.airDate {
    color: darkgrey;
}

.rating {
    color: dimgrey;
}

.overview {
    color: grey;
    font-size: 15px;
}

.pagination {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.pageNumber {
    color: #d7f3ff;
    background: #003366;
    margin: 5px;
    padding: 5px;
    border-radius: 2px;
    box-shadow: grey 1px 1px 5px;
}

.num {
    cursor: pointer;
}