<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/loader.css">
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei|Source+Sans+Pro" rel="stylesheet">
    <title>That's Hot!</title>
</head>

<body>
    <div id="app">
        <div v-bind:class="{ loader: loading, loadFade: !loading }">
            <div class="lds-dual-ring"></div>
        </div>
        <div class="mainContainer">
            <div class="titleContainer">
                <div class="title">That's Hot!</div>
            </div>
            <div class="listContainer">
                <div class="listLoader" v-if="loading2">
                    <div class="lds-dual-ring"></div>
                </div>
                <div class="listItem" v-for="show in list">
                    <a class="listImage" v-bind:href="`/details?id=${show.id}`">
                        <img v-bind:src="`https://image.tmdb.org/t/p/w200${show.poster_path}`">
                    </a>
                    <div class="listDescriptionContainer">
                        <div class="listDescription">
                            <div class="listDescriptionTitle">
                                <span class="name">
                                    {{show.name}}
                                </span>
                                <span class="airDate">
                                    {{new Date(show.first_air_date).toDateString().substr(4)}}
                                </span>
                                <span class="rating">
                                    Rating: {{show.vote_average}} / 10
                                </span>
                            </div>
                            <span class="overview">
                                {{show.overview}}
                            </span>
                        </div>
                        <a class="listMoreInfo" v-bind:href="`/details?id=${show.id}`">
                            <span>More Info</span>
                        </a>
                    </div>
                </div>
                <div class="pagination">
                    <div class="pageNumber" v-for="num in pageNumbers">
                        <div class="num" v-if="num != 0" @click="changePage(num)">
                            {{num}}
                        </div>
                        <div v-else>
                            ...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="/js/index.js"></script>
</body>

</html>