<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/details.css">
    <link rel="stylesheet" href="/css/loader.css">
    <link rel="stylesheet" href="/css/breadcrumbs.css">
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei|Source+Sans+Pro" rel="stylesheet">
    <title>That's Hot!</title>
</head>

<body>
    <div id="app">
        <div v-bind:class="{ loader: loading, loadFade: !loading }">
            <div class="lds-dual-ring"></div>
        </div>
        <div class="mainContainer">
            <div class="titleContainer">
                <div class="title">That's Hot!</div>
            </div>
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li>{{details.name}}</li>
            </ul>
            <div class="detailsContainer">
                <div class="backDropContainer"
                    v-bind:style="{ 'background-image': 'url(https://image.tmdb.org/t/p/w500' + details.backdrop_path + ')'}">
                </div>
                <div class="descriptionContainer">
                    <div class="descriptionMargin">
                        <img class="posterImage" v-bind:src="`https://image.tmdb.org/t/p/w500${details.poster_path}`">
                        <div class="descriptionText">
                            <div class="descriptionTitle">
                                <span>{{details.name}}</span>
                                <span>({{ details.first_air_date ? details.first_air_date.substr(0,4) : ""}})</span>
                            </div>
                            <div class="descriptionOverview">
                                <span style="margin-bottom: 10px; font-size: 20px;">
                                    Overview
                                </span>
                                <span style="margin-bottom: 10px; font-size: 15px;">
                                    {{details.overview}}
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="castContainer">
                    <div class="castWrapper">
                        <div class="castCard" v-for="cast in orderedCasts">
                            <img v-bind:src="`https://image.tmdb.org/t/p/w200${cast.profile_path}`">
                            <div class="cardName">
                                <b>{{cast.name}}</b>
                            </div>
                            <div class="cardCharacter">
                                {{cast.character}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="/js/details.js"></script>
</body>

</html>